header {
    background-color: black;
}

header li {
    list-style-type:none;
    padding: 10px;
    margin-left: -4px;
    display:inline-block;
    background-color: black;
    border-left: solid white;
}

header ul {
    margin-left: -5px;
    padding-left: 1px;
}

header a {
    color:white;
    text-decoration:none;
}

header li:hover, header li:hover a {
    background-color:ivory;
    color:black;
}

body {
    background-color:gray;
}